# =========================
# Build folders
# =========================
bin/
obj/
out/
publish/

# =========================
# User-specific files
# =========================
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# =========================
# VS / VS Code
# =========================
.vs/
.vscode/

# =========================
# Rider
# =========================
.idea/

# =========================
# Logs
# =========================
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Azure
# =========================
.publishsettings
*.pubxml
*.azurePubxml

# =========================
# Secrets / Environment
# =========================
appsettings.Development.json
appsettings.*.local.json
.env

# =========================
# NuGet
# =========================
*.nupkg
.nuget/
packages/

# =========================
# Test results
# =========================
TestResults/

# =========================
# Coverage
# =========================
coverage/
*.coverage
*.coveragexml